{% extends "maqueta.html" %}
{% load static %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<form method="POST">
	<h2>Registrar una venta</h2>
	{% csrf_token %}
	<table class="tableform">
		{% for campo in form %}
		<tr>
			<th width="20%">{{ campo.label_tag }}</th>
			<td width="20%">{{ campo }}</td>
			<td width="20%">{{ campo.errors }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" class="campo boton" value="Registrar">
</form>
{% endblock %}
