{% extends "maqueta.html" %}
{% load static %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> <!-- Carga estilos para los formularios -->
{% endblock %}

{% block content %}
{% if sucursal %}
<form method="POST">
	<h2>Actualizar sucursal</h2>
	{% csrf_token %}
	<table class="tableform">
		{% for campo in form %}
		<tr>
			<th width="20%">{{ campo.label_tag }}</th>
			<td width="60%">{{ campo }}</td>
			<td width="20%">{{ campo.errors }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" class="campo boton" value="Actualizar">
</form>
{% else %}
<h2>Sucursal no encontrada</h2>
<p>Lo sentimos, la sucursal que desea actualizar no existe.</p>
{% endif %}
{% endblock %}
