{% extends "maqueta.html" %}
{% block content %}
{% load static %}
<div clas="cont1">
	<div class="izquierda" color="#73A2A6">
		<h3>Accesorios Gamer</h3>
		<img align="left" src="{% static 'images/fornite.jpg' %}" width="1000px" height="580px" alt="fb">
	</div>
	<div class="derecha">
		<h3 align=right>Nos Puedes encontrar</h3>
		<div align="right">
			<img src="{% static 'images/win.png' %}" width="396px"  height="190px"alt="fb">
		</div>
		<div align="right">
				<img src="{% static 'images/euro.jpg' %}" width="396px" height="190px" alt="fb">
				<div align="right">
					<img src="{% static 'images/2 caracoles.png' %}" width="396px"  height="190px"alt="fb">
				</div>
		</div>
	</div>
</div>
<div clas="cont2">
	<div class="abajo">
			<h3>Notebooks</h3>
			<img src="{% static 'images/acer.png' %}" width="1500px" height="530px"  alt="fb">
	</div>
</div>
{% endblock %}
