{% extends "maqueta.html" %}
{% load static %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="loginbox" align="center">
	<form method="POST" class="loginform">
		{% csrf_token %}
		<table class="tableform">
			{% for field in form %}
			<tr>
				<th width="20%">{{ field.label_tag }}</th>
				<td width="60%">{{ field }}</td>
				<td width="20%">{{ field.errors }}</td>
			</tr>
			{% endfor %}
		</table>
		<p align="center"><input  class="campo boton" type="submit" value="Ingresar">
		<p align="center">¿Olvidaste tu Contraseña? <a href="http://localhost:8000/cuentas/recuperarpass/">Click Aqui</a>
	</form>
	<br>
	<p align="center">-------- ó --------</p>
	<br>
<p align="center"><a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images/fb-login.png' %}" width="215px" alt="fb"></a>
{% endblock %}
