{% extends "maqueta.html" %}
{% load static %}
{% block content %}
<form method="POST">
	<h2>Iniciar sesión</h2>
	{% csrf_token %}
	{% if login_fail %}<p>El usuario o contraseña que ingresó no son válidos.</p>{% endif %}
	<table>
		{% for campo in form %}
		<tr>
			<td>{{ campo.label_tag }}</td>
			<td>{{ campo }}</td>
			<td>{{ campo.errors }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" name="Entrar">
	<a>¿No tienes Cuenta?</a><<a href="#">Registrate aqui</a>
</form>
{% endblock %}
