{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Tienda electrónica Electronic Solutions"><!--Utilizamos el descriptor en meta para apoyar la busqueda de contenidos en la web-->
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximun-scale=1.0,minimun-scale=1.0"><!--las escalas indican un punto inicial, la escala maxima y minima-->
	<title>{{ titulo }} | Electronic Solutions</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	{% block imports %}{% endblock %}
</head>
<body>
	<div class="contenedor">
	<header>
		<div class="logo">
			<img src="{% static 'images/logo.png' %}" width="250" alt="250">
			<a href="#">Electronic Solutions</a>
		</div>

		<nav>
			<a href="#">Inicio</a>
			<a href="#">Placeholder1</a>
			<a href="#">Placeholder2</a>
			<a href="#">Pleisjolder3</a>
		</nav>
	</header>

	<section class="main">
		{% block content %}{% endblock %}
	</section>

	<footer>
		<!--- aqui va el footer --->
	</footer>
</div>
</body>
</html>
