<!-- extiende de la maqueta-->
{% extends "maqueta.html" %}
<!--comienza el contenido que se señalo en la maqueta-->
{% block content %}
<!--se le informa a django que se cargaran archivos estaticos-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}">
<h1>Lista de Ofertas</h1>
{% if lista %}
<table>
    <tr>
        <th>Nombre</th>
        <th>Foto</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Descuento</th>
    </tr>
    {% for m in lista %}
      {% for i in ofer %}
        {% if m.codigo == i.producto_id %}
          <tr>
              <td>{{ m.nombre }}</td>
              <td><img src={{ m.foto.url }} width="200px"  alt="" ></img></td>
              <td>{{ m.descripcion }}</td>
              <td>{{ m.precio }}</td>
              <td>{{ i.porcentaje }}</td>
          </tr>
        {% endif%}
      {% endfor%}
    {% endfor %}
</table>
{% else %}
    <h5>No hay Ofertas</h5>
{% endif %}
{% endblock %}
