{% extends "maqueta.html" %}
{% load staticfiles %}
{% block imports %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> <!-- Carga estilos para los formularios -->
		<script type="text/javascript" src="{% static 'js/validadores.js' %}"></script> <!-- Carga los validadores comunes -->
		<script type="text/javascript" src="{% static 'js/validadorRecuperarPasswd.js' %}"></script> <!-- Carga el validador para recuperar contraseña -->
{% endblock %}

{% block content %}<!-- Formulario para recibir correo de recuperación de contraseña -->
				<h2>Recuperar contraseña</h2>
				<form id="recuperar-pass" method="POST">
					{% csrf_token %}
					{% if fail %}<p>La cuenta de usuario relacionada con su correo no existe.</p>{% endif %}
					<table class="tableform">
						<tr>
							<th width="20%">{{ form.correo.label_tag }}</th>
							<td width="60%">{{ form.correo }}</td>
							<td width="20%"><p id="error_{{ form.correo.name }}" class="error">{{ form.correo.errors }}</p></td>
						</tr>
					</table>
					<input type="submit" class="campo boton" value="Enviar" />
				</form>
{% endblock %}