{% extends "maqueta.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}">
<div id="jsonresp" style="margin-top: 100px">
<table id=lista align=center>
		<tr class="titulos">
				<th>Nombre</th>
				<th>Foto </th>
				<th>Precio</th>
				<th>Tipo</th>
		</tr>
</table>
</div>
<script type="text/javascript">
$(document).ready(function(){
$.ajax({
				 url : "http://localhost:8000/api/productos",
				 dataType: "json",
				 success : function (result) {
					 $.each(result, function(i,items){
									 $("#lista").append("<tr>"+"<td>" + result[i].nombre + "</td>"
										 + "<td>" +"<img src='" + result[i].foto + "'height='125' width='125' align=right    />"+ "<td>" + result[i].precio + "</td>" +"<td>" + result[i].tipo + "</td>" +
										 "</tr>");
							});
						}});
				 });
</script>
<br>
{% endblock %}
